.posts {
  .card {
    border: none;
    background-color: $bodyBackround;
  }

  .tag {
    display: block;
    position: absolute;
    transform-origin: 100% 0%;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    text-align: right;
    background-color: $bodyBackround;
    padding: 0.25rem;
  }
}

.detail {
  figure {
    position: relative;
    padding: 0;

    .tag {
      display: block;
      position: absolute;
      transform-origin: 100% 0%;
      transform: rotate(-90deg);
      top: 0;
      left: 0;
      text-align: right;
      background-color: $bodyBackround;
      padding: 0.25rem;
    }
  }
}
